:root {
    --violet-doux: #501852;
    --viloet-foncé: #534EDD;
    --orange-vif: #FFA726;
    --gris-tres-foncé: #333;
    --gris-foncé: #666;
    --gris-tres-clair: #F8F8F8;
    --gris-clair: #EEE;


}